body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

h1 {
    margin-bottom:0px;
}

.stats ul {
    margin-top:0px;
}

.cookieContainer {
    width: 100%;
    height: 310px;
    text-align:center;
}

.cookieButton {
    background-color: transparent;
    border:none;
    outline:none;
    padding:0;
    margin:auto;
    display:block;
}

.cookieContainer b#cookieDisplay {
    font-size: 24px;
}

.cookieButton img {
    width:300px;
    height:300px;
}

.cookieButton img:hover {
    width:295px;
    height:295px;
    transform: translateY(2.5px);
}

.cookieButton img:active {
    width:290px;
    height:290px;
    transform: translateY(5px);
}

#shopList {
    width:259px;
    float:left;
    clear:both;
}

#shopList button {
    display:block;
    width:85%;
    max-width:220px;
    margin:auto;
    min-height:35px;
    color:white;
    background-color:#4287f5;
    font-weight:bolder;
    border: 2px solid #2659ab;
    border-radius:5px;
    outline:none;
    box-shadow: 0px 3px #163b78;
}

#shopList button:hover {
    transform: translateY(1px);
    box-shadow: 0px 2px #163b78;
}

#shopList button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px #163b78;
}

#shopList button:not(:last-child) {
    margin-bottom:10px;
}

#shop {
    float:left;
    display:block;
    width:450px;
}

.btnBuyGroup {
    display:inline-block;
    margin-top:5px;
}

.btnBuyGroup button {
    width:120px;
    margin-right:5px;
    background-color:#21ab0c;
    border:2px solid #1b8a0a;
    border-radius:5px;
    outline:none;
    color:white;
    box-shadow: 0px 3px #125707;
    margin-bottom:7px;
}

.btnBuyGroup button:hover {
    box-shadow: 0px 2px #125707;
    transform: translateY(1px);
}

.btnBuyGroup button:active {
    box-shadow: 0px 1px #125707;
    transform: translateY(2px);
}

.shopContainer {
    margin-top:30px;
}

button.upgBtn{
    color:white;
    background-color:#d68d04;
    border: 2px solid #ab6f00;
    border-radius:5px;
    outline:none;
    box-shadow: 0px 3px #825400;
    padding:10px 5px 10px 5px;
    width: 150px;
    margin-right:4px;
    margin-bottom:7px;
}

button.upgBtn:hover {
    box-shadow: 0px 2px #825400;
    transform: translateY(1px);
}

button.upgBtn:active {
    box-shadow: 0px 1px #825400;
    transform: translateY(2px);
}

.upgNext {
    color:white;
    width:150px;
    background-color: #919191;
    border: 2px solid #707070;
    border-radius:5px;
    text-align:center;
    padding: 10px;
    box-shadow: 0px 3px #595959;
}